<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= csrf_meta_tags %>
</head>
<body>
	<nav class = "navbar navbar-inverse navbar-static-top">
	<a href = "/" class= "navbar-brand">Tea Worldwide</a>
		<div class = "container">
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<nav class="collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path%></li>
					<li><%= link_to "Featured Product", static_pages_landing_page_path%></li>
					<li><%= link_to "Contact", static_pages_contact_path%></li>
					<li><%= link_to "Products", products_path%></li>
					<li>
						<a href="javascript:showhide('search-bar')" id="search"><span class="glyphicon glyphicon-search search_bar" type="button"></span></a>
					</li>
					
					  <li>
					  <% if user_signed_in? %>
					    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
					  <% else %>
					    <%= link_to('Login', new_user_session_path) %>
					  <% end %>
					  </li>
					</ul>
				
			</nav>
		</div> <!-- end container -->
	</nav> <!-- end nav -->
	<div id="search-bar" style="display:none;">
		<%= form_tag("/products", method: "get", class: "pull-right") do %>
			<%= label_tag(:q, "Looking for something?") %>
			<%= text_field_tag(:q, nil, placeholder: "Search Here", class: "btn btn-default") %>
			<%= submit_tag("Search", :class => "btn btn-default") %>
		<% end %>
	</div>
	<br>
	<% if notice %>
		<p id="notice" class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p id="alert" class="alert alert-danger"><%= alert %></p>
	<% end %>




	<%= yield %>

	
	<footer class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">&copy; 2016 Tea Worldwide</p>
			<a href="http://www.twitter.com/twitter" class="navbar-btn btn btn-primary pull-right">Follow us on Twitter!</a>
		</div> <!-- end container -->
	</footer> <!-- end footer -->
</body>
</html>
